.Fort-wrappernn {
    text-align: center;
    position: relative;
    padding-bottom: 2rem; /* Ajouter une marge en haut pour éviter le chevauchement */
}
.image-Fort >img{
    width: 100%;
}

.Fort-title {
    position: absolute;
    top: 30%; /* Aligner verticalement le titre au centre */
    right: -30%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}
.data-f{
    color: rgb(111, 174, 17);
}

