
.Empriente-wrappernn{
    color: black;
    position: relative;
    padding-bottom: 5rem;
}
.dark .Empreinte-wrappernn{
    color: white;
}
.Empriente-container{
    justify-content: space-between;
    align-items: flex-end;
}

.icon-Empriente {
    color: rgb(0, 170, 255);
    font-size: 10rem;
    top: 90%; /* Ajustez la position verticale à 50% */
    transform: translateY(20%); /* Déplacez l'icône de moitié de sa propre hauteur vers le haut pour l'aligner verticalement */
    position: absolute; /* Position absolue pour permettre le positionnement précis */
    left: 0; /* Pour l'aligner sur le côté gauche */
    animation:electric 3s forwards;
}


.Empriente-left {
    width: 25rem;
    height: 25rem;
    overflow: hidden;
    position:  absolute;
    right: 50%;
    top: 10%;
    transform: translate(-10%, 10%);
}

.Empriente-title {
    position: relative;
    z-index: 1;
    animation:stat2-move 2s forwards;
}
.Empriente-title>h1{
    font-size: 3.8 rem;
    font-weight: 600;
    line-height: 4rem;
}

.data {
    color: rgb(0, 170, 255);
}

.reseaux {
    color: rgb(0, 0, 0);
}
.dark .reseaux {
    color: white;
}

.image-map {
    width: 300px; /* Largeur de l'image */
    float: left; /* Alignement à gauche */
    right: 100%; /* Décalage supplémentaire vers la gauche */
    animation:stats-move 2s forwards;
    transform: translate(235%,10%);
}

.flexColStart-Empriente {
    display: flex;
    flex-direction: row; /* Modifier la direction en "row" pour aligner les éléments horizontalement */
    justify-content: space-between; /* Pour espacer équitablement les éléments */
    padding: 2rem;
    align-items: flex-start; /* Pour aligner les éléments en haut */
    flex-wrap: wrap;/* Pour que les éléments passent à la ligne suivante si l'espace est insuffisant */
    overflow: hidden;
    position:  absolute;
    right: 50%;
    top: 60%;
    transform: translate(10%, 80%);
}

.flexColStart-Emp {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    width: 30%;
    animation:stat3-move 2s forwards;
}

.count-E {
    font-size: 2rem;
    margin-bottom: 5px;
    color: rgb(0, 170, 255);
}

.flexColStart-Emp .text {
    font-size: 1rem; /* ajustez la taille de la police du texte */
    margin-top: 10px; /* Ajoutez une marge au-dessus du texte */
    margin-bottom: 10px; /* Ajoutez une marge en dessous du texte */
}

.LogoEMP img {
    max-width: 70%;
    height: auto;
}

.LogoEMP-M img {
    max-width: 90%;
    height: auto;
}

.LogoEMP-Mi img {
    max-width: 105%;
    height: auto;
}

.ANS{
    font-size: 2rem;
    color:rgb(0, 170, 255) ;
}