.navbar {
    width: 100%;
    background-color: #ffffff;
    color: #242424;
    padding: 4px 0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    transition: 0.5s;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.navbar ul {
    display: flex; /* Ensure the main menu is displayed horizontally */
    list-style: none;
}
.navbar a {
    text-decoration: none; /* Supprime le soulignement par défaut */
    color: inherit; /* Utilise la couleur de texte par défaut */
}
.navbar ul li {
    position: relative;
    margin: 5px 20px;
    font-size: 12px;
    transition: transform 0.3s ease, color 0.3s ease;
}

.navbar ul li:hover {
    color: rgb(0, 170, 255);
    transform: scale(1.1);
}

.dropdown-vertical {
    display: none; /* Initially hide the submenu */
    position: absolute;
    top: 100%; /* Position below the main menu item */
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    z-index: 10;
    list-style: none;
}

.navbar ul li:hover .dropdown-vertical {
    display: block; /* Show the submenu on hover */
}

.dropdown-vertical li {
    padding: 8px 16px;
    margin: 0;
    white-space: nowrap; /* Prevent line breaks */
}

.dropdown-vertical li:hover {
    background-color: #f1f1f1;
}

.toogle-icon {
    width: 50px;
    cursor: pointer;
    margin-right: 50px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 18px;
    max-width: 200px;
    color: #fff;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box img {
    width: 20px;
    cursor: pointer;
}

.dark .navbar {
    background: #000;
    color: #fff;
}

.dark .search-box {
    background: #fff; 
    color: #000; 
}

.dark .search-box input {
    color: #222; 
}

.dark .search-box input::placeholder {
    color: #222; 
}

.dark .dropdown-vertical {
    background-color: #000;
    color: #fff;
}

.dark .dropdown-vertical li {
    color: #fff;
}

.dark .dropdown-vertical li:hover {
    background-color: #333;
}
