.Serv-wrappernn {
    text-align: center;
    color: black;
    position: relative;
    padding-bottom: 2rem;
}

.Serv-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* Centrer le conteneur */
    max-width: 1200px; /* Largeur maximale du conteneur */
}


.courant-fort,
.courant-faible {
    width: 25rem;
    height: 20rem;
    border: 2px solid rgb(0, 170, 255);
    border-radius: 25%;
    padding-top: 20px;
    position: absolute;
    background-color: #ced8ff;
}

.courant-fort {
    margin-left: 2rem;
    left: 0;
}

.courant-faible {
    margin-right: 2rem;
    right: 0;
}

.video-container {
    margin-left: 34%;
    width: calc(100% - 50rem); /* 100% moins la largeur des deux sections courant */
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    max-width: 100%;
    max-height: 100%;
}

.ull {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0; /* Supprimer les marges intérieures */
    text-align: center; /* Aligner le texte à gauche */
}

.lii {
    font-weight: bold;
    margin-bottom: 5px; /* Ajouter une marge en bas pour séparer les éléments */
    color: rgb(0, 0, 0); /* Couleur du texte */
}

.courant-fort > img {
    width: 380px; /* Pour que l'image occupe toute la largeur du conteneur */
    height: 150px; /* Permet à la hauteur de s'ajuster automatiquement en fonction de la largeur */
    border-radius: 0% 0% 35% 35%;
}

.courant-faible > img {
    width: 60%; /* Pour que l'image occupe toute la largeur du conteneur */
    height: auto; /* Permet à la hauteur de s'ajuster automatiquement en fonction de la largeur */
    transform: translateY(-10%);
}
