.our-values {
    margin-top: 50px ;
    position: relative;
    text-align: center;
}

.values-container {
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne si l'espace est insuffisant */
    justify-content: space-around; /* Pour aligner les valeurs horizontalement */
}

.value {
    width: 30%; /* Largeur de chaque valeur */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.value-icon {
    margin-top: 2rem;
    font-size: 2rem; /* Taille de police pour les icônes */
    margin-bottom: 1.5rem; /* Espacement entre l'icône et le titre */
}

.Val{
    color: rgb(0, 170, 255)
}

.value h3 {
    color: rgb(0, 170, 255) /* ou toute autre couleur de votre choix */
}

.value p {
    font-size: 0.875rem; /* Taille de police pour le paragraphe */
    margin-top: 1rem; /* Espacement entre le titre et le paragraphe */
}

.bureau-image img {
    max-width: 100%; /* Définissez la largeur maximale de l'image sur 100% de la largeur du conteneur parent */
    height: auto; /* Laissez la hauteur s'ajuster automatiquement pour conserver les proportions */
    display: block; /* Pour s'assurer que l'image est bien affichée en tant que bloc */
    margin: 0 auto; /* Centrez l'image horizontalement */
    margin-top: 20px; /* Ajoutez un espace en haut de l'image */
}